<?php

/**
 * Defines which address books are used for searching and adding new contacts to.
 *
 * Empty array means the plugins uses 'autocomplete_addressbooks' setting from main.inc.php
 */
$rcmail_config['recipient_to_contact_addressbooks'] = array();

/**
 * Whether the plugin is enabled or disabled for users by default.
 *
 * If set to true, the plugin is enabled and users can disable it through settings menu.
 */
$rcmail_config['recipient_to_contact_enabled_by_default'] = true;